<div class="container">
    <div class="card-container" >
        <mat-progress-spinner class="product-loading" mode="indeterminate" *ngIf="loadingProducts"></mat-progress-spinner>
        <div *ngFor="let product of products">
            <app-product-card [product]="product" (displayCart)="displayCart()"></app-product-card>
        </div>
    </div>
    <div class="checkout-container">
        <mat-card class="checkout-card">
            <mat-card-title>
                Total: {{checkoutTotal | currency}}
                <button mat-raised-button color="primary" id="checkout-button" (click)="checkout()">Checkout</button>
            </mat-card-title>
        </mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

        <h1>{{orderMessage}}</h1>
    </div>
</div>