
<div class="displayorder">  
<ul>
    <li class="preorder">

      <table style="width:100%">
        <tr>
          <th>Order Total</th>
          <th>Date Ordered</th>
          <th>Date delivered</th>
          <th>Cancelled Order</th>
          <th>Refunded Order</th>
        </tr>
        <tr *ngFor="let order of Orders" (click)="displayOrderedProducts(order.orderID)" class="orderclick" >
       
          <td>{{order.orderTotal}}</td>
          <td>{{order.dateOrdered}}</td>
          <td>{{order.dateDelivered}}</td>
          <td>{{order.cancelled}}</td>
          <td>{{order.refunded}}</td>
        </tr>
      </table>

        
    </li>

</ul>
</div>
 


<div class="displayorder">  
  {{getallproductOrders()}}
  </div>






