.displayorder{

    margin: auto;
    width: 80%;
    box-shadow: 5px 5px 5px 5px  #888888;
    margin-top: 100px;
    padding-left: 0px;
}

.displayorder2{

    padding: 5px;
}

.example-full-width {

    width: 300px !important;
}


.preorder{

    display: block;
    position: relative;
    right: 35px;
    padding: 5px;
}


.orderclick{
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.loading-spinner {
    margin: 20px auto;
}

.error-message {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}