.userid{

    margin: auto;
    width: 33%;
    box-shadow: 5px 5px 5px 5px  #888888;
    margin-top: 100px;
}

.userid2{

    margin: auto;
    width: 80%;
    box-shadow: 5px 5px 5px 5px  #888888;
    margin-top: 100px;
    padding-left: 0px;
}


.example-full-width {

    width: 300px !important;
}

.preorder{

    display: block;
    position: relative;
    right: 35px;
    padding: 5px;

}



.orderIsclick{


    cursor: pointer;

}