
<div class="displayorder">  
<ul>
    <li class="preorder">

      <table style="width:100%">
        <tr>
          <th>Order Total</th>
          <th>Date Ordered</th>
          <th>Date delivered</th>
          <th>Cancelled Order</th>
          <th>Refunded Order</th>
        </tr>
        <tr *ngFor="let order of Orders" (click)="displayOrderedProducts(order.orderID)" class="orderclick" >
       
          <td>{{order.orderTotal | currency}}</td>
          <td>{{order.dateOrdered | date:'long'}}</td>
          <td>{{order.dateDelivered | date:'long'}}</td>
          <td>{{order.cancelled}}</td>
          <td>{{order.refunded}}</td>
        </tr>
      </table>

        
    </li>

</ul>
</div>
 

<div class="displayorder">  
  <mat-card class="product-cards" *ngFor="let product of products">
    <mat-card-title-group>
        <mat-card-title>
            {{product.productName}}
        </mat-card-title>
        <mat-card-subtitle>
            {{product.productPrice | currency}}
        </mat-card-subtitle>
        <img mat-card-sm-image src="https://localhost:7231/Ecommerce/product/{{product.productID}}/image" class="product-image">
    </mat-card-title-group>
    <mat-card-content>
        {{product.productDetails}}
    </mat-card-content>
    <mat-divider></mat-divider>
  </mat-card>
</div>






