<div class="userid">
  <mat-card>
    <form>
      <mat-form-field class="example-full-width">
        <input #userOrderID matInput type="text" name="userOrderID" value="" placeholder="Enter a userID">
    </mat-form-field>
      &nbsp; &nbsp;
      <button mat-raised-button type="button" (click)="displayPreviousOrders(userOrderID.value)">Submit
      </button>
    </form>
  </mat-card>
</div>



<!-- <div>
 <ul>
  <li *ngFor = 'Let ord of order'>
            
         {{getproducts(ord.orderID)}}
           
  </li>

 </ul>

</div> -->

 
<div class="userid2">  
<ul>
    <li class="preorder">

      {{getPreviousOrders2()}}
        
    </li>

</ul>
</div>
 
   


<!-- <div class="userid2">
<ul>

  <li *ngFor="let ord of order">

    {{ ord.orderID}}
      
  </li>

</ul>
</div>



<div class="userid2">        
<ul>
  <li *ngFor="let order of orderID">
      <p>{{order.orderID}}</p>
      <src="https://localhost:7231/Ecommerce/my-orders/{{order.orderID}}">
  </li>
</ul>
</div> -->