
<ul>
    <div class="displayhori">
      <li class="removelist" *ngFor="let product of products">
    
       <div class="displayProducts">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{product.productName}}</mat-card-title>   
          </mat-card-header>
          <img class = "img" mat-card-image src= "https://localhost:7231/Ecommerce/product/{{product.productID}}/image">
          <mat-card-content>
            <p>
              {{product.productPrice | currency}}
            </p>
          </mat-card-content>
          <mat-card-actions>

            <!-- <button mat-icon-button color="warn" aria-label="">
              <mat-icon>favorite</mat-icon></button>
            <button mat-icon-button color="warn" aria-label="">
              <mat-icon>share</mat-icon></button>   -->
            <button *ngIf="(auth.isAuthenticated$ | async) === true" mat-button (click)="addToCart(product.productID)"  mat-icon-button class="shopcartonimage" color="warn" aria-label="">
              <mat-icon>add_shopping_cart</mat-icon></button> 
            <!-- <button *ngIf="(auth.isAuthenticated$ | async) === true" mat-button (click)="addToCart(product.productID)">Add to cart</button> -->

          </mat-card-actions>
        </mat-card>    
        </div>
  
    </li>
  </div>
  </ul>
  
  